{% import "macros.html" as macros %}
{% include "b_header.html" %}

<form action="">

<div class="wrapper">
    <div class="wrapper-scroller">
        <div>
            <iframe class="iframe" src="/calendar"></iframe>
        </div>
        <div>
            <iframe class="iframe" src="/days"></iframe>
        </div>
        <div>
            <iframe class="iframe" src="about:blank"></iframe>
        </div>
    </div>
    <iframe style="width:1px;height:1px;" src="/time_speaker"></iframe>
</div>

</form>
{% include "b_footer.html" %}